@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutContainer"] = true;
}




<div class="login" style="background-color:white;">
	<!-- BEGIN login-content -->
	<div class="login-content">
        <h3>@ViewData["Title"]</h3>
		<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
	</div>
	<!-- END login-content -->
</div>
